<%= semantic_form_for [:admin, @component_category] do |f| %>
  <%= f.inputs :component_category_sel_category_type do %>
  	<% if f.object.new_record?  # this is for new form%>
    		<%= f.input :ancestry_depth, :as => :select, :include_blank => false,
                    :collection => COMPONENT_CATEGORY_MAP.each_with_index.map { |x,i| [I18n.t("label.component_category.#{x}"),i]} %>
    		<% case f.object.ancestry_depth %>
    			<% when 1 %>
     				<%= 	f.input :level0, :as => :select, :collection => ComponentCategory.depth0.map{|r| [r.name, r.id]} %>
    			<% when 2 %>
            <%=   f.input :level0, :as => :select, :collection => ComponentCategory.depth0.map{|r| [r.name, r.id]} %>
            <% if f.object.level0.blank? %>
              <%= f.input :level1, :as => :select, :collection => [[I18n.t('form.category_sel_tip_option'),""]] %>
            <% else %>
              <%=f.input :level1, :as => :select, :collection => ComponentCategory.find(f.object.level0).children.map{|r| [r.name, r.id]} %>
            <% end %>
          <% when 3 %>
            <%=   f.input :level0, :as => :select, :collection => ComponentCategory.depth0.map{|r| [r.name, r.id]} %>
            <% if f.object.level0.blank? %>
              <%= f.input :level1, :as => :select, :collection => [[I18n.t('form.category_sel_tip_option'),""]] %>
            <% else %>
              <%=f.input :level1, :as => :select, :collection => ComponentCategory.find(f.object.level0).children.map{|r| [r.name, r.id]} %>
            <% end %>
            <% if f.object.level1.blank? %>
              <%= f.input :level2, :as => :select, :collection => [[I18n.t('form.category_sel_tip_option'),""]] %>
            <% else %>
              <%=f.input :level2, :as => :select, :collection => ComponentCategory.find(f.object.level1).children.map{|r| [r.name, r.id]} %>
            <% end %>        
    			<% else %>
  			<% end %>        
        <%= f.input :ancestry, :wrapper_html => { :style => "display:none;" }%>      
		<% else # this is for edit form%>
      <% if f.object.depth !=0 %>
   		  <%=f.input :level0, :input_html=>{:disabled => true, :value => ComponentCategory.find(f.object.level0).name} %>
   			<%=f.input :level1, :input_html=>{:disabled => true, :value => ComponentCategory.find(f.object.level1).name} unless f.object.level1.nil? %>
   			<%=f.input :level2, :input_html=>{:disabled => true, :value => ComponentCategory.find(f.object.level2).name} unless f.object.level2.nil? %>
      <% end %>
  	<% end %>
  <% end %>    

  <%= f.inputs :component_category_list_category_details do  %>    
 		<%= f.input :name %>
    <%= f.input :code, :as => :string%>    
 		<%= f.input :comment %>
 		<%= f.input :updated_by_email, :wrapper_html => { :style => "display:none;" } %>
	<% end %>
  <%= f.actions do %>
    <%= f.action :submit %>
    <li class="cancel"> 
      <%=link_to I18n.t("active_admin.cancel"), component_category_collection_url_help(f.object.ancestry_depth)%>
    </li>
  <% end %>
<% end %>      