<%= semantic_form_for [:admin, @component_category], :url => set_group_admin_component_category_path do |f| %>
  <table border="0" cellspacing="0" cellpadding="0" class="index_table">
    <thead>
      <tr>
        <th><%= i18n_helper("part_number","code") %></th>
        <th><%= i18n_helper("part_number","component_category_id") %></th>
        <th><%= i18n_helper("part_number","supplier") %></th>
        <th><%= i18n_helper("part_number","description") %></th>
        <th><%= i18n_helper("part_number","status") %></th>  
        <th><%= i18n_helper("part_number","group_id") %></th>
        <th><%= i18n_helper("part_number","preference") %></th>        
      </tr>
    </thread>            
    <tbody>
      <%= f.fields_for :part_numbers do |part_number|%>
        <tr class="<%= cycle("odd", "even") %>">
          <td><%= link_to "#{part_number.object.code}", admin_part_number_url(part_number.object.id) %></td>
          <td><%= part_number.object.associated_component_category %></td>
          <td><%= part_number.object.associated_supplier %></td>
          <td><%= part_number.object.description %></td>
          <td><%= i18n_status_helper(part_number.object.status) %></td>
          <td><%= part_number.select :group_id, @component_category.group_id_options %></td>
          <td><%= part_number.select :preference, @component_category.preference_options %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= f.actions do %>
    <%= f.action :submit %>
    <li class="cancel"> 
      <%=link_to I18n.t("active_admin.cancel"), admin_part_numbers_url%>
    </li>
  <% end %>
<% end %>