<%= semantic_form_for [:admin, @bom, @bom_part] do |f| %>
  <% if f.object.new_record? %>
    <% @part_number = PartNumber.all %>
    <% render "admin/part_numbers/index" %>
  <% else %>
    <%= f.inputs :name => "Part Number" do %>
      <%= f.input :part_number, :as => :select, :collection => f.object.part_number.similar_parts %>
    <% end %>
  <% end %>

  <%= f.inputs :name => "Other Info" do %>
    <%= f.input :amount %>
	  <%= f.input :location %>
	  <%= f.input :comments %>
  <% end %>

  <%= f.actions do %>
    <%= f.action :submit, :button_html => {:class => "part_number_submit_button"} %>
    <li class="cancel"> <%=link_to t("active_admin.cancel"), {:action => :index} %></li>
  <% end %>

<% end %>