<%= semantic_form_for [:admin, @part_number], :html => {:multipart => true} do |f| %>
  <%= f.inputs :part_number_component_category_sel do %>
    <%= f.input :cc_level0, :as => :select, :collection => ComponentCategory.valid_depth0_collection.map{|r| [r.name, r.id]}, :input_html => {:class => "cc_selection"}%>
    <% if f.object.cc_level0.blank? %>
      <%= f.input :cc_level1, :as => :select, :collection => [[I18n.t('form.category_sel_tip_option'),""]], :input_html => {:class => "cc_selection"} %>
    <% else %>
      <%=f.input :cc_level1, :as => :select, :collection => ComponentCategory.find(f.object.cc_level0).children.map{|r| [r.name, r.id]}, :input_html => {:class => "cc_selection"} %>
    <% end %>
    <% if f.object.cc_level1.blank? %>
      <%= f.input :cc_level2, :as => :select, :collection => [[I18n.t('form.category_sel_tip_option'),""]], :input_html => {:class => "cc_selection"} %>
    <% else %>
      <%=f.input :cc_level2, :as => :select, :collection => ComponentCategory.find(f.object.cc_level1).children.map{|r| [r.name, r.id]}, :input_html => {:class => "cc_selection"} %>
    <% end %> 
    <% if f.object.cc_level2.blank? %>
      <%= f.input :component_category_id, :as => :select, :collection => [[I18n.t('form.category_sel_tip_option'),""]], :input_html => {:class => "cc_selection cc_leaf_node"} %>
    <% else %>
      <%=f.input :component_category_id, :as => :select, :collection => ComponentCategory.find(f.object.cc_level2).children.map{|r| [r.name, r.id]}, :input_html => {:class => "cc_selection cc_leaf_node"} %>
    <% end %>
    <%= f.input :cc_code, :as => :string, :wrapper_html => { :style => "display:none;" } %>
    <%= f.input :reserved_code, :as => :string, :input_html => {:value => '0000'} %> 
  <% end %>

  <%= f.inputs :part_number_supplier_sel do %>  
    <%= f.input :supplier_id, :as => :select, :collection => Supplier.all.map{|r| [r.company_profile.company_name, r.id]}, :include_blank => false %>
    <%= f.input :vendor_code, :as => :string %>    
    <%= f.input :latest_price, :as => :string %>
    <%= f.input :min_amount, :as => :number %>
  <% end %>

  <%= f.inputs :part_number_complementary_info do %>
    <%= f.input :description, :as => :string %>
    <li>
      <%= f.label :appendix %>
      <% if f.object.appendix? %>
        <%= f.object.appendix_name %> &nbsp&nbsp
        <%= f.check_box :remove_appendix %> Remove &nbsp&nbsp
      <% end %> 
      <%= f.file_field :appendix %>
    </li>  
  <% end %>

  <%= f.input :code, :as => :string, :wrapper_html => { :style => "display:none;" } %>

  <%= f.inputs :part_number_basic_info do %>
    <% if f.object.new_record? %>
      <%= f.input :status, :as => :select, :collection => STATUS_DEFINITION[0..0].map { |r| [I18n.t("active_admin.scopes.#{r}"),r]}, :include_blank => false %>
      <%= f.input :prepared_by, :input_html => {:value => f.object.prepared_by || current_admin_user.email} %>
    <% else %>
      <% if @part_number.bApproved %>
        <%= f.input :status, :as => :select, :collection => STATUS_DEFINITION.drop(1).map { |r| [I18n.t("active_admin.scopes.#{r}"),r]}, :include_blank => false %>
      <% else %>
        <% if current_admin_user.admin? %>
          <%= f.input :status, :as => :select, :collection => STATUS_DEFINITION[0..1].map { |r| [I18n.t("active_admin.scopes.#{r}"),r]}, :include_blank => false %>
          <%= f.input :approved_by, :input_html => {:value => f.object.approved_by || current_admin_user.email} %> 
        <% else %>
          <%= f.input :status, :as => :select, :collection => STATUS_DEFINITION[0..0].map { |r| [I18n.t("active_admin.scopes.#{r}"),r]}, :include_blank => false %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <% if (f.object.change_histories.empty? || f.object.change_histories.last.persisted?)  %>
    <% f.object.change_histories.build(:updated_by => current_admin_user.email) %>
  <% end %>
  <%= f.inputs :notes, :updated_by, :name => :part_number_change_history, :for =>[:change_histories, f.object.change_histories.last] %> 

  <%= f.actions do %>
    <%= f.action :submit, :button_html => {:class => "part_number_submit_button"} %>
    <li class="cancel"> <%=link_to t("active_admin.cancel"), {:action => :index} %></li>
  <% end %>
<% end %> 