<tr>
  <td>
    <% unless selected_id == part_number.id %>
      <input type="radio" name="bom_part_part_number_sel" 
             value="<%= part_number.id %>" class="bom_part_part_number_sel"/>
    <% else %>
      <input type="radio" name="bom_part_part_number_sel" checked='checked'
             value="<%= part_number.id %>" class="bom_part_part_number_sel"/>    
    <% end %>
  </td>
  <td><%= part_number.name %></td>
  <td><%= part_number.status %></td>
  <td><%= part_number.supplier.name %></td>
  <td><%= part_number.description %></td>
  <td></td>
</tr>