<%= semantic_form_for [:admin, @supplier], :html => {:multipart => true} do |f| %>
  <%= f.inputs :supplier_basic_info do %>
    <%= f.input :name %>
    <%= f.input :status, :as => :select, :collection => COMPANY_STATUS_DEFINITION.map { |r| [I18n.t("active_admin.scopes.#{r}"),r]}, :include_blank => false %>
  <% end %>   

  <%= f.inputs :name => link_to(t('label.supplier.company_profile'), '#', :class => 'dumb_link_for_hide_and_show_only'), :for => [:company_profile, f.object.company_profile || CompanyProfile.new] do |c|%>
    <%= render :partial =>"company_profile_fields", :locals => {:f => c} %>
  <% end %>

  <%= f.inputs :name => link_to(t('label.supplier.sign_in_info'), '#', :class => 'dumb_link_for_hide_and_show_only') do %> 
    <div id="fields-for-user" class="numerous">
      <% @supplier.users.each_with_index do |user, index| %>
        <%= f.semantic_fields_for :users, user do |sub_field| %>     
          <%= render :partial => "user_fields", :locals => {:f => sub_field, :index => index+1} %>
        <% end %>
      <% end %>
    </div>      
    <li><%= link_to_add_fields(t('link.supplier.add_new_sign_in'), f, :users)%></li>
	<% end %>

  <%= f.actions do %>
    <%= f.action :submit %>
    <li class="cancel"> <%=link_to t("active_admin.cancel"), [:admin, Supplier] %></li>
  <% end %>
<% end %>      


